@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
/* Main Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}
body {
    font-family: 'Roboto Mono', sans-serif;
}

/* Main Styling */
.todo-container {
    margin: 40px auto;
    width: 600px;
    max-width: 95%;
    background-color: #f6f6f6;
    border-radius: 4px;
    overflow: hidden;
}
.add-todos {
    display: flex;
    padding: 15px;
    background-color: #2196f3;
}
.add-todos input[type=text] {
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(255, 255, 255, .3);
    border: none;
    border-radius: 4px 0 0 4px;
}
.add-todos input[type=text]::placeholder {
    color: #eee;
}
.add-todos input[type=text]:focus::placeholder {
    color: transparent;
}
.add-todos input[type=submit] {
    font-size: 38px;
    padding: 0 15px;
    background-color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.add-todos input:focus {outline: none;}
.todo-container .todos-box {
    padding: 15px 15px 0 15px;
    max-height: 240px;
    overflow: auto;
}
.todo-container .todos-box::-webkit-scrollbar {
    width: 5px;
}
.todo-container .todos-box::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 2.5px;
}
.todo-container .todos-box > span {
    display: block;
    background-color: #fff;
    padding: 10px 15px;
}
.todo-container .todos-box span.message {color: #777;}
.todo-container .todos-box span.task {
    display: flex;
    justify-content: space-between;
    border-left: 4px solid #f44336;
    border-radius: 4px 0 0 4px;
}
.todo-container .todos-box span.task.done {
    border-left-color: lightgreen;

}
.todo-container .todos-box span.task:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.todo-container .todos-box span.task .del {
    font-size: 12px;
    padding: 2px 8px;
    background-color: #f44336;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.todo-container .todos-options {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.todo-container .todos-options .todos-count span,
.todo-container .todos-options .completed-todos span {
    font-size: 14px;
    padding: 1px 5px;
    border-radius: 4px;
    color: #fff;
    background-color: #f44336;
}
.todo-container .todos-options > span {
    background-color: #2196f3;
    padding: 2px 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.hide {display: none !important;}